body{
    background-color: yellow;
}
.shadow-lg{
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
    margin:auto;
    border-radius: 100vw;
}
#place{
    text-align: center;
    color: blue;
}
